<div class="row">
	<div class="business-card">
	<div class="col-md-4">

							<div class="text-center card-box">
								<div class="member-card">
										<div class="thumb-xl member-thumb m-b-10 center-block">
												<%= image_tag @user.avatar.url, class: "img-circle img-thumbnail card-picture" %> 
										</div>

										<div class="">
												<h4 class="m-b-5"><%= @user.username %></h4>
										</div>
										<% if current_user %>
											<% if @user.followers.include?(current_user) %>
													<%= link_to "Unfollow", destroy_user_follow_path, class: "btn btn-danger" %>
											<% else %>
												<%= link_to "Follow", user_follow_path, class: "btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" %>
											<% end %>
										<% end %>
										<button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

										<% if @user.stream_username %>
										<h3 id="stream-status"></h3>
										<% end %>
										
										
										<div class="text-center m-t-40">
												<p class="text-muted font-13"><strong></strong> <span class="m-l-15"><h3><%= "#{@user.followers.count} followers | #{@user.followed.count} followed." %></h3></span></p>
										</div>

										<ul class="social-links list-inline m-t-30">
												<li>
														<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
														<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
														<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
												</li>
										</ul>
								</div>
						</div> <!-- end card-box -->
	
	</div>

	<div class="col-md-8">

		 <% if  @user.stream_username %>
					<div class="stream">
						<iframe
								src="https://player.twitch.tv/?channel=<%= @user.stream_username %>"
								height="510"
								width="600"
								frameborder="0"
								scrolling="no"
								allowfullscreen="true">
						</iframe>
				 
						<iframe frameborder="no"
							scrolling="no"
							id="juicetrades"
							src="https://www.twitch.tv/<%= @user.stream_username %>/chat"
							height="510"
							width="300">
						</iframe>
						</div>
		<% else %>
			<h1> There is no stream for this User</h1>      
		<% end %>
	
		</div>
	</div>
</div>


<div class="row second-profile-content">
	<div class="col-md-6">
	<h2>Following</h2>
	<%  @followed.each do |followed| %>
						<a href="users/<%= followed.id %>"><%= image_tag(followed.avatar.url, class: "friends-list") %></a>
	<% end %>
	
	</div>
	<div class="col-md-6">

	<!-- users posts -->
	
	<% @user.posts.by_date.each do |post| %>
			<div class="feed panel panel-default">
				<div class="panel-heading">
					<%= image_tag post.user.avatar.url, height: '100', width: '150', class: "post-pic" %>
				<div><strong>            
			<div class="text-center">
					<h5><%= link_to "#{User.find(post.user_id).username}", user_path(post.user_id)%></h5>
												<i class="fa fa-calendar"></i><br><h6 class="blog-post-meta"><%= post.created_at.strftime('%Y %b %d') %></h6>
										</div></strong></div>
							 </div>
								<div class="panel-body">
										
											<div class="text-center">
												<p class="blog-post-meta"><%= raw(post.body). truncate(358) %></p>
											</div>
											<% if post.user_id %>
											 <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>


											 <% end %>
										
								</div>
								<div class="panel-footer">
										<input type="email" class="form-control" placeholder="Write a comment...">
								</div>
						</div>
	<% end %>
	
	</div>
</div>











